* {
    background: #D1D1D1;
}

/* Estilos gerais do corpo */
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------Cabeçalho-------------------------------------------------------------------------------*/
header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    width: auto;

}

header div {
    display: flex;
    gap: 40px;
    /* Espaçamento entre os elementos */
}

header div:last-child {
    justify-content: right;
    display: flex;
    align-items: right;
    gap: 20px;
    /* Espaçamento entre os elementos */
}

header strong {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    color: #000;
    font-family: "Passion One";
    font-size: 30px;
    /* Tamanho do texto */
}

header a {
    display: inline-flex;
    /* Garante que os elementos estejam na mesma linha */
    align-items: center;
    /* Alinha verticalmente */
    text-decoration: none;
    /* Remove o sublinhado do texto */
    color: black;
    /* Cor do texto */
    font-size: 16px;
    /* Tamanho do texto */
    margin: 0 10px;
    /* Espaçamento entre os elementos */
}

header a:hover {
    color: #218A38;
    /* Destaque ao passar o rato */
}

/* Popup Styles profile */
.popup {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 50px;
    right: 20px;
    border: 2px solid #4CAF50; /* Aqui estamos adicionando uma borda verde */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px;
    width: 200px;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.popup-content a:hover {
    color: #218A38;
}

/* Popup Styles search */
/* Modal styles */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent; 
    padding-top: -200px;
}

.modal-content {
    background-color: transparent;
    margin: -1.5% 35%;
    padding: 20px;
    width: 80%; 
    max-width: 400px; 
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
}

/*--------------------------------------------------------------------ImagemHomePage-----------------------------------------------------------------------*/
.hero-section {
    position: relative;
    background-image: url('/img/Image_HomePage.png');
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 300px 20px;
}

.hero-section h1 {
    top: 10px;
    /* Distância do topo */
    left: 30px;
    /* Distância da esquerda */
    position: absolute;
    /* Permite posicionamento manual */
    font-size: 36px;
    background-color: transparent;
    color: #D1D1D1;

}

.hero-section p {
    top: 80px;
    /* Distância do topo */
    left: 30px;
    /* Distância da esquerda */
    position: absolute;
    /* Permite posicionamento manual */
    margin: 10px 0;
    background-color: transparent;
    color: #D1D1D1;
    font-size: 36px;
}

.hero-section button{
    top: 140px;
    /* Distância do topo */
    left: 30px;
    /* Distância da esquerda */
    position: absolute;
    /* Permite posicionamento manual */
    margin-top: 10px;
    padding: 20px 85px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #D1D1D1;
    border: 1px solid #D1D1D1;
}

/*--------------------------------------------------------------------Principal-------------------------------------------------------------------------------*/

.product-section {
    position: relative;
    /* Para que o link "View all" seja posicionado em relação a essa secção */
    padding-top: 50px;
    margin: 20px;
}


.product-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 100px;
}

.view-all {
    position: absolute;
    top: 100px;
    /* Distância do topo */
    right: 100px;
    /* Distância da direita */
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-decoration: underline;
}

.product-grid {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    /* Centraliza o conteúdo dentro do card */
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    position: relative;
}

.product-body {
    margin-top: 15px;
    /* Espaço para o título do produto e preço não se sobreporem */
}

.product-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: white;
}

.product-card p.Top-Left-text {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    font-size: 14px;
}

.product-card p.Top-Left-text2 {
    position: absolute;
    top: 30px;
    /* Ajuste conforme necessário */
    left: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.product-card p {
    margin: 5px 0;
    top: 10px;
    /* Posição no topo */
    left: 10px;
    /* Posição no lado esquerdo */
    background-color: rgba(255, 255, 255, 0.8);
    /* Fundo branco semi-transparente */
    padding: 5px 10px;
}

/*--------------------------------------------------------------------Rodapé-------------------------------------------------------------------------------*/
footer {
    display: flex;
    /* Habilita Flexbox para organizar os elementos no rodapé */
    justify-content: space-between;
    /* Coloca os elementos nos cantos */
    align-items: flex-start;
    /* Alinha os itens no topo do rodapé */
    padding: 20px;
    /* Espaçamento interno */
    margin-top: auto;
    /* Garante que o rodapé fique no final da página */
}

/*Fonte e margem do titulo "Support"*/
.support h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

/*mudança na lista*/
.support ul {
    list-style-type: none;
    padding-left: 0;
}

/*margem entre os elementos da lista*/
.support ul li {
    margin: 10px 0;
}

/* Elementos da lista */
.support ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

/*Quando se passa rato por cima sublinhar*/
.support ul li a:hover {
    text-decoration: underline;
}

/* Estilos da secção de inscrição */

/*Fonte e margem do titulo "Subscribe"*/
.subscribe h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

/*Estilo do formulario*/
.subscribe form {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.subscribe input {
    margin-bottom: 30px;
    font-size: 15px;
    border: 0.1px solid #cccccc;
}

/* Retirar borda ao clicar para inserir */
.subscribe input:focus {
    outline: none;
}

/*Botao subcrever*/
.subscribe button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #D1D1D1;
    background: #222325;
    border: none;
    cursor: pointer;
}