* {
    background: #D1D1D1;
}

html,
body {
    height: 100%;
    /* Garante que o HTML e o corpo ocupem toda a altura da tela */
    margin: 0;
    /* Remove a margem padrão */
    padding: 0;
    /* Remove o padding padrão */
    display: flex;
    flex-direction: column;
    /* Organiza o conteúdo verticalmente */
}

/* Estilos gerais do corpo */
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------Cabeçalho-------------------------------------------------------------------------------*/
header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    width: auto;

}

header div {
    display: flex;
    gap: 40px;
    /* Espaçamento entre os elementos */
}

header div:last-child {
    justify-content: right;
    display: flex;
    align-items: right;
    gap: 20px;
    /* Espaçamento entre os elementos */
}

header strong {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    color: #000;
    font-family: "Passion One";
    font-size: 30px;
    /* Tamanho do texto */
}

header a {
    display: inline-flex;
    /* Garante que os elementos estejam na mesma linha */
    align-items: center;
    /* Alinha verticalmente */
    text-decoration: none;
    /* Remove o sublinhado do texto */
    color: black;
    /* Cor do texto */
    font-size: 16px;
    /* Tamanho do texto */
    margin: 0 10px;
    /* Espaçamento entre os elementos */
}

header a:hover {
    color: #218A38;
    /* Destaque ao passar o rato */
}

/* Popup Styles profile */
.popup {
    display: none;
    /* Inicialmente oculto */
    position: absolute;
    top: 50px;
    right: 20px;
    border: 2px solid #4CAF50;
    /* Aqui estamos adicionando uma borda verde */
    border-radius: 8px;
    /* Bordas arredondadas */
    padding: 15px;
    width: 200px;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.popup-content a:hover {
    color: #218A38;
}

/* Popup Styles search */
/* Modal styles */
.modal {
    display: none;
    /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    padding-top: -200px;
}

.modal-content {
    background-color: transparent;
    margin: -1.5% 35%;
    padding: 20px;
    width: 80%;
    max-width: 400px;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
}

/* --------------------------------------------------Estilo para o conteúdo do perfil------------------------------------------------------------------------ */
.profile-container {
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
}

.profile-container h1 {
    text-align: center;
    color: #333;
    font-size: 28px;
    /* Aumentar o tamanho do título */
    font-weight: bold;
    /* Tornar o título mais destacado */
    margin-bottom: 20px;
    background-color: #ffffff;
}

/* Estilo da seção de informações do perfil */
.profile-info {
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
}

.profile-info p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    background-color: #ffffff;
}

.profile-info strong {
    color: #218A38;
    /* Cor mais suave para subtítulos */
    font-weight: normal;
    background-color: #ffffff;
}

.profile-info p:hover {
    text-decoration: underline;
    /* Example: Underline the text on hover */
}

#btn_edit_profile {
    margin-top: 1%;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#btn_edit_profile:hover {
    background-color: #333;
}

/* Estilização do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    max-width: 400px;
    text-align: center;
    /* Alinha os elementos no centro */

}

.modal-content h1 {
    background-color: white;
}


.modal-content span {
    float: right;
    font-size: 24px;
    cursor: pointer;
    background-color: white;
}

.modal-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.modal-info label {
    background-color: white;
}

.modal-info input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

#btn_save_profile {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#btn_save_profile:hover {
    background-color: #333;
}

/*--------------------------------------------------------------------FOOTER-------------------------------------------------------------------------------*/

footer {
    display: flex;
    /* Habilita Flexbox para organizar os elementos no rodapé */
    justify-content: space-between;
    /* Coloca os elementos nos cantos */
    align-items: flex-start;
    /* Alinha os itens no topo do rodapé */
    padding: 20px;
    /* Espaçamento interno */
    margin-top: auto;
    /* Garante que o rodapé fique no final da página */
}

/*Fonte e margem do titulo "Support"*/
.support h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

/*mudança na lista*/
.support ul {
    list-style-type: none;
    padding-left: 0;
}

/*margem entre os elementos da lista*/
.support ul li {
    margin: 10px 0;
}

/* Elementos da lista */
.support ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

/*Quando se passa rato por cima sublinhar*/
.support ul li a:hover {
    text-decoration: underline;
}

/* Estilos da secção de inscrição */

/*Fonte e margem do titulo "Subscribe"*/
.subscribe h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

/*Estilo do formulario*/
.subscribe form {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.subscribe input {
    background-color: #D1D1D1;
    margin-bottom: 30px;
    font-size: 15px;
    border: 0.1px solid #cccccc;
}

/* Retirar borda ao clicar para inserir */
.subscribe input:focus {
    outline: none;
}

/*Botao subcrever*/
.subscribe button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #D1D1D1;
    background: #222325;
    border: none;
    cursor: pointer;
}