* {
    background: #D1D1D1;
}

/* Estilos gerais do corpo */
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Popup Styles */
.popup {
    display: none;
    /* Inicialmente oculto */
    position: absolute;
    top: 50px;
    right: 20px;
    border: 2px solid #4CAF50;
    /* Aqui estamos adicionando uma borda verde */
    border-radius: 8px;
    /* Bordas arredondadas */
    padding: 15px;
    width: 200px;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.popup-content a:hover {
    color: #218A38;
}

/*--------------------------------------------------------------------HEADER-------------------------------------------------------------------------------*/
header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    width: auto;

}

header div {
    display: flex;
    gap: 40px;
    /* Espaçamento entre os elementos */
}

header div:last-child {
    justify-content: right;
    display: flex;
    align-items: right;
    gap: 20px;
    /* Espaçamento entre os elementos */
}

header strong {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    color: #000;
    font-family: "Passion One";
    font-size: 30px;
    /* Tamanho do texto */
}

header a {
    display: inline-flex;
    /* Garante que os elementos estejam na mesma linha */
    align-items: center;
    /* Alinha verticalmente */
    text-decoration: none;
    /* Remove o sublinhado do texto */
    color: black;
    /* Cor do texto */
    font-size: 16px;
    /* Tamanho do texto */
    margin: 0 10px;
    /* Espaçamento entre os elementos */
}

header a:hover {
    color: #218A38;
    /* Destaque ao passar o rato */
}


/*--------------------------------------------------------------------MAIN-------------------------------------------------------------------------------*/
.select-container {
    height: fit-content;
    padding: 20px;
    margin-left: 10%;
}

.select-container select {
    width: 13%;
    padding: 10px;
    border: #D1D1D1;
    background-color: #d9d9d9;
}

.search-bar input {
    width: 11.9%;
    padding: 10px;
    border: #D1D1D1;
    background-color: #d9d9d9;
}

.row1 {
    display: flex;
    background-color: #d9d9d9;
    margin-bottom: 10px;

    padding-left: 10px;

}

.table-container {
    padding: 10px;
    margin: 20px 10% 50px 10%;
    background-color: #D1D1D1;
}

.column {
    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-edit-icon {
    flex: 30%;
    background-color: #d9d9d9;
    text-align: right;

}


.column-description {
    padding-top: 0.75%;
    padding-left: 10px;
    flex: 20%;
    background-color: #d9d9d9;

}

.column-description label {
    background-color: #d9d9d9;
}

.column-description1 {
    padding-top: 0.75%;
    padding-left: 10px;
    flex: 40%;
    background-color: #d9d9d9;


}

.column-description1 label {
    background-color: #d9d9d9;
}

.column-description2 {
    padding-top: 0.75%;
    padding-left: 10px;
    flex: 40%;
    background-color: #d9d9d9;


}

.column-description2 label {
    background-color: #d9d9d9;
}

.column-description3 {
    padding-top: 0.75%;
    padding-left: 10px;
    flex: 40%;
    background-color: #d9d9d9;


}

.column-description3 label {
    background-color: #d9d9d9;
}

.column-description4 {
    padding-top: 0.75%;
    padding-left: 10px;
    flex: 65%;
    background-color: #d9d9d9;


}

.column-description4 label {
    background-color: #d9d9d9;
}


button.btn-edit {
    border: #d9d9d9;
    background-color: #d9d9d9;
    margin-top: 33px;
    padding: 0%;
}

select.btn-update-status {
    padding: 20px;
    border: #D1D1D1;
    background-color: #ffffff;
    margin-top: 5%;
    width: 100%;
}

.report-links {
    margin: 0px 10% 0px 10%;
    text-align: end;
    padding-right: 10px;

}

/* Pagination */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 10px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.pagination a:hover {
    color: #218A38;
}

/* Estilo do número ativo com borda */
.pagination a.active {
    padding: 5px 8px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #D1D1D1;
    font-weight: bold;
    color: #000000;
}

.pagination span {
    font-size: 16px;
}

/*--------------------------------------------------------------------FOOTER-------------------------------------------------------------------------------*/

footer {
    display: flex;
    /* Habilita Flexbox para organizar os elementos no rodapé */
    justify-content: space-between;
    /* Coloca os elementos nos cantos */
    align-items: flex-start;
    /* Alinha os itens no topo do rodapé */
    padding: 20px;
    /* Espaçamento interno */
    margin-top: auto;
    /* Garante que o rodapé fique no final da página */
}

/*Fonte e margem do titulo "Support"*/
.support h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

/*mudança na lista*/
.support ul {
    list-style-type: none;
    padding-left: 0;
}

/*margem entre os elementos da lista*/
.support ul li {
    margin: 10px 0;
}

/* Elementos da lista */
.support ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

/*Quando se passa rato por cima sublinhar*/
.support ul li a:hover {
    text-decoration: underline;
}

/* Estilos da secção de inscrição */

/*Fonte e margem do titulo "Subscribe"*/
.subscribe h2 {
    font-size: 17px;
    margin-bottom: 10px;
}

/*Estilo do formulario*/
.subscribe form {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.subscribe input {
    background-color: #D1D1D1;
    margin-bottom: 30px;
    font-size: 15px;
    border: 0.1px solid #cccccc;
}

/* Retirar borda ao clicar para inserir */
.subscribe input:focus {
    outline: none;
}

/*Botao subcrever*/
.subscribe button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #D1D1D1;
    background: #222325;
    border: none;
    cursor: pointer;
}